
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSuperAdmin() {
      return request.auth.token.email == 'admin@xavef.com';
    }

    function isAdmin() {
      // A user is an admin if they are the super admin OR if they exist in the admins collection.
      return isSuperAdmin() || exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /{path=**}/transactions/{transactionId} {
      allow list: if isAdmin();
    }

    match /users/{userId} {
      allow create: if isOwner(userId)
                    && request.resource.data.uid == userId
                    && request.resource.data.email == request.auth.token.email
                    && request.resource.data.solidaraBalance == 0
                    && request.resource.data.annualBalance == 0;

      allow read: if isOwner(userId) || isAdmin();
      
      allow update: if (isOwner(userId) &&
                        request.resource.data.solidaraBalance == resource.data.solidaraBalance &&
                        request.resource.data.annualBalance == resource.data.annualBalance)
                     || (isAdmin() && request.resource.data.keys().hasOnly(['solidaraBalance', 'annualBalance']));

      allow delete: if false;
      allow get, list: if isAdmin();
    }

    match /referralCodes/{codeId} {
      allow read: if request.auth != null;
      
      // Any admin can generate a referral code.
      allow create: if request.auth != null 
      								&& request.resource.data.creatorUid == request.auth.uid
                      && isAdmin();
      
      allow update: if isOwner(request.resource.data.usedBy)
                     && request.resource.data.used == true
                     && resource.data.used == false;

      allow delete: if false;
    }

    match /users/{userId}/transactions/{transactionId} {
        allow read: if isOwner(userId);
        allow create: if isOwner(userId);
        allow get, list, update: if isAdmin();
        allow delete: if false;
    }

    match /users/{userId}/goals/{goalId} {
        allow create, read, update, delete: if isOwner(userId);
    }

    match /admins/{userId} {
      allow read, get: if request.auth != null;
      // Only the super admin can create or delete other admins.
      allow create, delete: if isSuperAdmin();
      allow list, update: if false;
    }
  }
}
